body{
   
   color:black;
   background-image: url("background.jpg");
      

}


#workzone{
   background-color: rgba(0,0,255,0.2);
   border-radius:10px;
   text-align:center;
   margin-left:50px;
   margin-right:50px;
   margin-top:20px;
}

#banner{
   background-color:green;
   padding-bottom:80px;
}

#input1{
  margin-left:23px;

}

#input2{
  margin-right:3px;
}

